<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMoneyConvV1" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/data" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMoneyConvV1" contract="MoneyConvSrv.IMoneyConvV1"
        name="WSHttpBinding_IMoneyConvV1" />
    </client>
  </system.serviceModel>
</configuration>