<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="MoneyConv.Implementation.V1.MoneyConvImplV1" behaviorConfiguration="metadataBehavior"  >        
        <endpoint address="/data" binding="wsHttpBinding" contract="MoneyConv.Common.Interfaces.IMoneyConvV1"/>
        <endpoint address="/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host >
          <baseAddresses>            
            <add baseAddress="http://localhost"/>
          </baseAddresses>
        </host>
      </service>
    </services>    
  </system.serviceModel>
</configuration>